body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #1E59A6;    ;
}
header{
    color:white;
    text-align: center;

}
section{
    background-color: white;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(5, 41, 1, 0.767);
}
#google{
    text-align: justify;
    padding: 10px;
}
div{
    text-align: center;
    padding: 5px;
}
img{
    max-width: 400px;
}
footer{
    color:white;
    text-align: center;
}
.menu{
    width: 456px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #555;
}

li {
    float: left;
    text-align: center;
    border-right: 1px solid #555;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}